body {
    width: 100%;
    background-color: #F2ECE5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 34px;
    padding: 0;
    text-align: center;
    background-color: #171717;
    z-index: 2;
    position: fixed;

}

.navbar-brand{
    padding-top: 8px;
}
.navbar-brand img{
    vertical-align: middle;
}

.navbar a{
    font-size: 14px;
    font-weight: 400;
    font-family: "red hat display";
    color: #fff;
}

.user_controls {
    padding: 0;
    width: 100%;
    max-width: 1274px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto; 
}

.navbar a span{
    margin-left: 18px;

}

.first {
    position: relative;
}

.contenido {

    width: 100%;
    height: 94px;
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    left: 0;
    top: 34px;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.navcentro {
    max-width: 100%;
    width: 1274px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido .navcentro .toggle{
    position: absolute;
    padding: 0;
    right: 18px;
}

.contenido .navcentro .toggle>div{
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 100;

}
.contenido .navcentro .toggle>div>div{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
}

.menu-lateral{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:#fff;
    overflow: auto;
    z-index: 8;
    padding: 128px 0;
    background-color: #171717;
    transition: all .3s ease;
    transform: translateX(100%);
}
.menu-lateral ul li a{
    display:block;
    text-align: center;
    padding: 0;
    margin: 18px 0;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.menu-lateral ul li a:hover{
    text-decoration: none;
    color: #701425;
}

.menu-lateral ul{
    padding: 0;
    margin: 0 auto;

}

.menu-lateral.open{
    transform: translateX(0);

}

.logo {
    width: 100%;
    max-width: 190px;
    padding-top: 10px;
}
a {
    text-decoration: none;
    color: #1d1d1d;
    position: relative;

}

nav ul li {
    padding-right: 63px;
    font-family: "red hat display";
    font-size: 14px;
    font-weight: 500;
    display: inline;
}
li:last-child {
    padding-right: 0px;
}
.secciones ul li a:hover{
    color: #701425;
    transition: all .3s ease;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 0;
    padding-right: 0;
}

.hvr-underline-from-center {
  padding-bottom: 5px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0px;
  background: #701425;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.hero {
    width: 100%;
    height: 449px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(../img/fondo_productos.png);
    background-repeat: no-repeat;
    background-size: 1190px;
    background-position: top right;
    background-attachment: fixed;
}

.textohero h1 {
    position: relative;
    font-family: "red hat display";
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    margin-top: 100px;
    display: inline-block;

}

.contenidoprodu {
    padding: 169px 0;
}


.imagenes {
    margin: 0 auto;
    max-width: 1134px;

}


.centro {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.boxizq {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 18.71px;
}


.box1,
.box2 {
    width: 366px;
    height: 337px;
    position: relative;
    overflow: hidden;
}

.box1 {
    margin-bottom: 13.36px;
}

.box1 img {
    height: 337px;
    /*transform: translate(-120px);*/
}

.box2 img {
    width: 366px;
    /*transform: translate(0, -100px);*/
}


.box3 {
    width: 366px;
    height: 688px;
    position: relative;
    overflow: hidden;
}

.palabra1,
.palabra5 {
    position: absolute;
    background-color: #701425;
    top: 40%;
    text-align: right;
    transform: translateX(-30px);
    padding: 10px 0;
    box-sizing: border-box;
}

.palabra1,
.palabra2,
.palabra3,
.palabra4,
.palabra5 span {
    font-family: "playfair display";
    color: #fff;
    font-size: 26px;
    font-weight: 700;
}

.palabra1 span {
    padding-right: 18px;
    padding-left: 155px;
}

.palabra2,
.palabra4,
.palabra5,
.palabra3 {
    position: absolute;
    background-color: #701425;
    top: 40%;
    left: 25%;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
}

.palabra2 span {
    padding: 0 51px;
}

.palabra4 span {
    padding: 0 24px;
}

.palabra4 {
    left: 19%;
}

.palabra5 span {
    padding-right: 155px;
    padding-left: 18px;

}

.palabra3 {
    top: 45%;
    left: -31px;
    align-content: center;
}

.palabra3 span {
    padding: 0 156px;
}

.box3 img {
    height: 688px;
   /* transform: translate(-50px);*/
}

.boxder {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding: 18.71px;
}

.box4,
.box5 {
    width: 366px;
    height: 337px;
    position: relative;
    overflow: hidden;

}

.box4 {
    margin-bottom: 13.36px;
}

.box4 img {
    height: 337px;
}

.box5 img {
    width: 366px;
    /*transform: translate(0, -130px);*/
}


.box1 img:hover,
.box2 img:hover,
.box3 img:hover,
.box4 img:hover,
.box5 img:hover{
    transform: scale(1.2);
}


.box1 img,
.box2 img,
.box3 img,
.box4 img,
.box5 img{
    cursor: pointer;
    transition: all .3s ease;
}

/*COMIENZO DEL FOOTER*/


footer {

    bottom: 0;
    width: 100%;
}

.footer {
    background-color: #171717;
    padding: 40px 0;
}

footer .footcontacto {
    max-width: 1274px;
    margin: 0 auto;
}

.footcontacto {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.foot_item1 ul li {
    font-family: "red hat display";
    font-size: 14px;
    margin-bottom: 21px;
    color: #ffffff;
    list-style: none;
    font-weight: 400;
}

.foot_item1 ul {
    padding: 0;
}

.foot_item1 li .sobre {
    width: 25px;
    padding-right: 10px;
    vertical-align: middle;
}

.foot_item1 li .tel {
    width: 25px;
    padding-right: 10px;
    vertical-align: middle;
}

.foot_item1 ul .contactanos {
    font-family: "playfair display";
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.foot_item2 ul li {
    font-family: "red hat display";
    font-size: 14px;
    margin-bottom: 21px;
    color: #ffffff;
    list-style: none;
    font-weight: 400;
}

.foot_item2 ul {
    padding: 0;
}

.foot_item2 ul .casa {
    font-family: "playfair display";
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.foot_item3 ul li {
    font-family: "red hat display";
    font-size: 14px;
    margin-bottom: 21px;
    color: #ffffff;
    list-style: none;
    font-weight: 400;
}

.foot_item3 ul {
    padding: 0;
}

.foot_item3 ul .social {
    font-family: "playfair display";
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.foot_item3 li .instagram {
    width: 25px;
    padding-right: 10px;
    vertical-align: middle;
}

.foot_item3 li .facebook {
    width: 25px;
    padding-right: 10px;
    vertical-align: middle;
}

footer .copy {

    margin-top: 67px;
    padding-top: 44px;
}

footer .copy .wrapper-flex {
    display: flex;
    flex-wrap: nowrap;
}

.copyr {

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-foot {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.wrapper-flex img {
    width: 190px;
    margin-top: 44px;
}

.wrapper-flex span {
    color: #fff;
    font-family: "red hat display";
    font-size: 14px;
    font-weight: 200;
}

.copylogo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    border-top: 0.5px solid #fff;
}

.copyr {
    position: absolute;
    right: 0;
}

.logofooter img {
    margin-top: 0;
}

/*DESK*/

@media screen and (min-width: 1024px){
    .toggle{
        display: none;
    } 
}
/*MOBILE*/

@media (max-width: 767px){
    .copyr span{
        font-size: 12px;

    }

    .foot_item1,
    .foot_item2,
    .foot_item3{
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .contenido{
        width: 100%;
        height: 60px;
        background-color: #171717;
        padding: 0 18px;
        border-top: 0.5px solid #fff;
    }
    .logo{
       max-width: 132px;
       padding: 0;
       margin:0;
    }

    .navcentro{
        width: 100%;
    }

    .user_controls{
        width: 100%;
    }

    .navbar{
        padding: 0 18px;
    }

    .hidden-sm-down{
        display: none;
    }

    .hero{
        height: 210px;
        background-position: top left;
    }

    .textohero h1{
        font-size: 24px;
    }
    .centro{
        display: flex;
        flex-direction: column;    
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5{
        width: 300px;
        height: 300px;
    }
    .boxizq,
    .boxder{
        padding: 10px 0;
    }
    .contenidoprodu{
        margin: 0 auto;
        padding: 40px 0;
    }
    .palabra1{
        transform: translateX(-60px);
    }
    .palabra3 span{
        padding: 0 140px;
    }
    .palabra2 {
        left: 20%;
    }
    .palabra4 {
        left: 13%;
    }
    .palabra5 span{
        padding-left: 35px;
    }
    .box3 img{
        transform: translateY(-170px);
    }
}

/*MEDIA*/

@media (max-width: 991px) and (min-width: 767px){

    .navcentro{
        width: 100%;
    }

    .contenido{
        background-color: #171717;
        padding: 0 18px;
        border-top: 0.5px solid #fff;
    }

    .user_controls{
        width: 100%;
    }

    .navbar{
        padding: 0 18px;
    }
        .centro{
        display: flex;
        flex-direction: column;    
    }
    .box1,
    .box2,
    .box3,
    .box4,
    .box5{
        width: 300px;
        height: 300px;
    }
    .boxizq,
    .boxder{
        padding: 10px 0;
    }
    .contenidoprodu{
        margin: 0 auto;
        padding: 40px 0;
    }
    .palabra1{
        transform: translateX(-60px);
    }
    .palabra3 span{
        padding: 0 140px;
    }
    .palabra2 {
        left: 20%;
    }
    .palabra4 {
        left: 13%;
    }
    .palabra5 span{
        padding-left: 35px;
    }
    .box3 img{
        transform: translateY(-170px);
    }
}
