body {
    width: 100%;
    background-color: #F2ECE5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    width: 100%;
    height: 34px;
    padding: 0;
    text-align: center;
    background-color: #171717;
    z-index: 2;
    position: fixed;   
}

.navbar-brand{
    padding-top: 8px;
}
.navbar-brand img{
    vertical-align: middle;
}

.navbar a{
    font-size: 14px;
    font-weight: 400;
    font-family: "red hat display";
    color: #fff;

}
.user_controls {
    padding: 0;
    width: 100%;
    max-width: 1274px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto;
   
}

.navbar a span{
    margin-left: 18px;

}

.first {
    position: relative;
}

.contenido {

    width: 100%;
    height: 94px;
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    left: 0;
    top: 34px;
    z-index: 2;
    display: flex;
    justify-content: center;

}
.navcentro {
    max-width: 100%;
    width: 1274px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido .navcentro .toggle{
    position: absolute;
    padding: 0;
    right: 18px;
}

.contenido .navcentro .toggle>div{
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 100;

}
.contenido .navcentro .toggle>div>div{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
}
.menu-lateral{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:#fff;
    overflow: auto;
    z-index: 8;
    padding: 128px 0;
    background-color: #171717;
    transition: all .3s ease;
    transform: translateX(100%);
}
.menu-lateral ul li a{
    display:block;
    text-align: center;
    padding: 0;
    margin: 18px 0;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.menu-lateral ul li a:hover{
    text-decoration: none;
    color: #701425;
}
.menu-lateral ul{
    padding: 0;
    margin: 0 auto;

}

.menu-lateral.open{
    transform: translateX(0);

}
.logo {
    width: 100%;
    max-width: 190px;
    padding-top: 10px;
}
a {
    text-decoration: none;
    color: #1d1d1d;
    position: relative;

}

nav ul li {
    padding-right: 63px;
    font-family: "red hat display";
    font-size: 14px;
    font-weight: 500;
    display: inline;
}
li:last-child {
    padding-right: 0px;
}
.secciones ul li a:hover{
    color: #701425;
    transition: all .3s ease;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 0;
    padding-right: 0;
}

.hvr-underline-from-center {
  padding-bottom: 5px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0px;
  background: #701425;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


/*COMIENZO HERO IMG*/

.hero {
    padding: 250px 0 187px 0;
    background-color: #000;
    overflow: hidden;
    background-image: url(../img/loft.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 357px;
    background-attachment: fixed;
}
.container1 {
    margin: 0 auto;
    max-width: 1274px;
}

.textohero ul li {
    position: relative;
    font-family: "playfair display";
    font-weight: 400;
    font-size: 80px;
    color: #fff;

}


.textohero ul li:first-child {
    position: relative;
}

.textohero ul li:first-child:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #701425;
    bottom: 20px;
    right: 20px;
}

.textohero ul li:first-child:before {
    content: '';
    height: 3px;
    background-color: #701425;
    display: block;
    position: absolute;
    bottom: -20px;
    width: 80%;
}

.textohero ul {
    padding: 0;

}

.parrafohero {
    max-width: 319px;
}

.parrafohero p {
    font-family: "red hat display";
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-top: 53px;
}

.buttonhero {
    display: inline-block;
    padding: 12px 50px;
    margin-top: 30px;
    border: 2px solid #fff;
    font-size: 14px;
    font-family: "red hat display";
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease;
}

.buttonservicios:hover, .buttonhero:hover{
    background-color: #fff;
    color: #000;
}

a:hover{
    text-decoration: none;
}

.second {
    padding: 173px 0;

    
}

.container2 {
    margin: 0 auto;
    max-width: 1274px;
  

}

.text {
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
}

.text h2 {
    max-width: 528px;
}

h2 {

    font-family: "playfair display";
    font-size: 45px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0;

}

.text2 {
    font-family: "red hat display";
    font-size: 16px;
    max-width: 574px;
    font-weight: 400;
    color: #1d1d1d;

}

.text2 span {
    font-family: "red hat display";
    font-weight: 700;
}

.button {
    display: inline-block;
    padding: 12px 50px;
    margin-top: 34px;
    border: 2px solid #000000;
    font-size: 14px;
    font-family: "red hat display";
    font-weight: 700;
    color: #1d1d1d;
    cursor: pointer;
    transition: all .5s ease;

}

.button:hover{
    background-color: #000;
    color: #fff;
}


.espacio-servicios {
    position: relative;

}

.serviciosgenerales {
    margin-top: -232px;
}

.services {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    position: relative;
}

.colorservicios {
    width: 100%;
    height: 458px;
    background-color: #000;
    overflow: hidden;
    background-image: url(../img/fondo_servicio.png);
    background-repeat: no-repeat;
    background-size: 1177px;
    background-position: top right;

}
.contenedorservicio {
    margin: 0 auto;
    max-width: 1274px;
}

.contenedorservicio span {
    color: #ffffff;
    font-family: "playfair display";
    font-size: 45px;
    font-weight: 400;
    padding-top: 20px;
    display: inline-block;

}

.serviciosgenerales {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sgenerales {
    width: 100%;
    max-width: 1074px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;


}

.typeser {
    border-radius: 5px;
    margin: 0 14px;
    background-color: #171717;
    width: 347px;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}


.typeserinterior {
    margin: 0 36px;
    margin-top: 174px;
}

.servicio1 {
    font-family: "red hat display";
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    margin: 19px 0;

}

.servicio1 span {
    font-size: 16px;
    font-weight: 500;
}

.botonservi {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.buttonservicios {
    display: inline-block;
    padding: 12px 50px;
    margin: 8px 0;
    border: 2px solid #ffffff;
    font-size: 14px;
    font-family: "red hat display";
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    transition: all .5s ease;


}

.servicio2 {
    font-family: "red hat display";
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    margin: 19px 0;

}

.servicio2 span {
    font-size: 16px;
    font-weight: 500;
}

.servicio3 {
    font-family: "red hat display";
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    margin: 19px 0;

}

.servicio3 span {
    font-size: 16px;
    font-weight: 500;
}


.imagenventa {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.imagenventa img {
    height: 265px;
    margin-top: -290px;
    position: absolute;
}

.imagenventalamp {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.imagenventalamp img {
    height: 383px;
    margin-top: -400px;
    position: absolute;
}

.third {
    padding: 200px 0 151px;
    display: flex;
    justify-content: space-around;
    align-content: center;


}

.container3 {
    margin: 0 auto;
    max-width: 1274px;
}

.textsocial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.textsocial h2 {
    max-width: 528px;
}

.titsocial {
    font-family: "playfair display";
    font-size: 45px;
    font-weight: 400;
    color: #1d1d1d;
    margin: 0;

}

.text3 {
    font-family: "red hat display";
    font-size: 16px;
    max-width: 574px;
    font-weight: 400;
    color: #1d1d1d;
    margin-top: 37px;

}

.nuestrasredes {
    margin-bottom: 64px;
}

.text3 span {
    font-family: "red hat display";
    font-weight: 500;

}



.container3 ul {
    list-style: none;
    font-family: "red hat display";
    font-size: 18px;
    font-weight: 400;
    color: #1d1d1d;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}


.instagramnegro {
    width: 30px;
    margin-right: 22px;
    vertical-align: middle;
}

.facebooknegro {
    width: 30px;
    margin-right: 22px;
    /* margin-left: 72px; */
    vertical-align: middle;
}

.redeslogos ul li:first-child {
    margin-right: 36px;
    padding-right: 36px;
    border-right: 2px solid #000;
}


/*COMIENZO DEL FOOTER*/


footer {

    bottom: 0;
    width: 100%;
}

.footer {
    background-color: #171717;
    padding: 40px 0;
}

footer .footcontacto {
    max-width: 1274px;
    margin: 0 auto;
}

.footcontacto {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.foot_item1 ul li {
    font-family: "red hat display";
    font-size: 14px;
    margin-bottom: 21px;
    color: #ffffff;
    list-style: none;
    font-weight: 400;
}

.foot_item1 ul {
    padding: 0;
}

.foot_item1 li .sobre {
    width: 25px;
    padding-right: 10px;
    vertical-align: middle;
}

.foot_item1 li .tel {
    width: 25px;
    padding-right: 10px;
    vertical-align: middle;
}



.foot_item1 ul .contactanos {
    font-family: "playfair display";
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.foot_item2 ul li {
    font-family: "red hat display";
    font-size: 14px;
    margin-bottom: 21px;
    color: #ffffff;
    list-style: none;
    font-weight: 400;
}

.foot_item2 ul {
    padding: 0;
}

.foot_item2 ul .casa {
    font-family: "playfair display";
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.foot_item3 ul li {
    font-family: "red hat display";
    font-size: 14px;
    margin-bottom: 21px;
    color: #ffffff;
    list-style: none;
    font-weight: 400;
}

.foot_item3 ul {
    padding: 0;
}

.foot_item3 ul .social {
    font-family: "playfair display";
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.foot_item3 li .instagram {
    width: 25px;
    padding-right: 10px;
    vertical-align: middle;
}

.foot_item3 li .facebook {
    width: 25px;
    padding-right: 10px;
    vertical-align: middle;
}

footer .copy {

    margin-top: 67px;
    padding-top: 44px;
}



footer .copy .wrapper-flex {
    display: flex;
    flex-wrap: nowrap;

}


.copyr {

    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.logo-foot {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.wrapper-flex img {
    width: 190px;
    margin-top: 44px;


}

.wrapper-flex span {
    color: #fff;
    font-family: "red hat display";
    font-size: 14px;
    font-weight: 200;
}



.copylogo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    border-top: 0.5px solid #fff;
}

.copyr {
    position: absolute;
    right: 0;
}

.logofooter img {
    margin-top: 0;
}


/*MOBILE*/

@media (max-width: 767px){
    .text{
        width: 350px;
    }
    .second{
        padding: 35px 18px;
        text-align: center;
    }
    .container2{
        max-width: 350px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .text h2{
        font-size: 24px;
        margin-bottom: 30px;
        text-align: center;
        max-width: 350px;

    }

    .text2 {
        font-size: 12px;
        text-align: center;
    }

    .button{
        margin-top: 24px;
        font-size: 12px;
        padding: 10px 40px;
    }
    .copyr span{
        font-size: 12px;

    }

    .foot_item1,
    .foot_item2,
    .foot_item3{
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .contenido{
        width: 100%;
        height: 60px;
        background-color: #171717;
        padding: 0 18px;
        border-top: 0.5px solid #fff;
    }
    .logo{
       max-width: 132px;
       padding: 0;
       margin:0;
    }

    .navcentro{
        width: 100%;
    }

    .user_controls{
        width: 100%;
    }

    .navbar{
        padding: 0 18px;
    }

    .hidden-sm-down{
        display: none;
    }
    .textohero ul li{
        font-size: 34px;
    }

    

    .textohero ul{
        text-align: center;

    }
    .parrafohero{
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
    }

    .container1{
        padding: 0 18px;

    }

    .buttonhero{
        margin-top: 24px;
        font-size: 12px;
        padding: 10px 40px;

    }

    .textohero ul li:first-child:before{
        display: none;
    }

    .textohero ul{
        margin-bottom: 0;
        padding-bottom: 1rem;
        border-bottom: 2px solid #701425;
    }

    .textohero ul li:first-child:after{
        bottom: 7px;
    }
  

    .typeser{
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 150px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    }

    .hero{
        background-position: 41px;
    }
    .colorservicios{
        background-size: 378px;
        background-position: 154px;
        height: 146px;
    }

    .servicio1,
    .servicio2,
    .servicio3{
        font-size: 12px;
        margin: 16px 0;

    }
    .servicio1 span,
    .servicio2 span,
    .servicio3 span{
        font-size: 14px;
        
    }
    .buttonservicios{
        font-size: 12px;
        margin-top: 24px;
        padding: 10px 40px;
    }
    .imagenventa img{
        height: 208px;
        margin-top: -246px;
    }
    .imagenventalamp img{
        height: 313px;
        margin-top: -309px;
    }
    .typeser{
        width: 325px;
        height: fit-content;
        margin-bottom: 135px;
   }

    .sgenerales{
        margin-top: 221px;
    }

    .contenedorservicio span{
        font-size: 24px;
        padding-top: 9px;
    }
    .services{
        text-align: center;
    }

    .third{
        padding:0 18px 100px 18px;
    }
    .container3 ul{
        flex-direction: column;
    }
    .redeslogos ul li:first-child{
        margin: 0 0 29px 0;
        padding: 0;
        border-right: hidden;
        
    }

    .redeslogos ul li{
        font-size: 12px;
    }
    .redeslogos ul{
        text-align: center;
    }

    .facebooknegro,
    .instagramnegro{
        width: 20px;
        margin-right: 8px;
    }

    .titsocial{
        font-size: 24px;
    }
    .nuestrasredes span{
        font-size: 12px;
        margin-bottom: 26px;
    }
    .text3{
        margin-top: 26px;
    }



}

/*MEDIA*/

@media (max-width: 991px) and (min-width: 767px){

    .navcentro{
        width: 100%;
    }

    .contenido{
        background-color: #171717;
        padding: 0 18px;
        border-top: 0.5px solid #fff;

    }
    .text{
        width: 500px;
    }
    .second{
        padding: 35px 0;
        text-align: center;
    }
    .container2{
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .text h2{
        font-size: 40px;
        margin-bottom: 30px;
        text-align: center;
        max-width: 700px;

    }
    .text2 {
        font-size: 12px;
        text-align: center;
    }
    .user_controls{
        width: 100%;
    }

    .navbar{
        padding: 0 18px;
    }
   
        .colorservicios{
        background-size: 684px;
        background-position: 342px;
        height: 246px;
    }



    .servicio1,
    .servicio2,
    .servicio3{
        font-size: 12px;
        margin: 16px 0;

    }
    .servicio1 span,
    .servicio2 span,
    .servicio3 span{
        font-size: 14px;
        
    }
    .buttonservicios{
        font-size: 12px;
        margin-top: 24px;
        padding: 10px 25px;
    }
    .imagenventa img{
        height: 208px;
        margin-top: -246px;
    }
    .imagenventalamp img{
        height: 313px;
        margin-top: -309px;
    }
    .typeser{
        width: 325px;
        height: fit-content;
        
   }

    .sgenerales{
        margin-top: 121px;
    }

    .contenedorservicio span{
        font-size: 34px;
        padding-top: 9px;
    }
    .services{
        text-align: center;
    }



}

/*DESK*/

@media screen and (min-width: 1024px){
    .toggle{
        display: none;
    }

 
}




